input.mat--mdc-input-element, textarea{
  font-weight: lighter;
  line-height: 1.1rem;
  font-size: x-small;
}

.basic-container {
  padding: 0;
}

mat-form-field {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display:flex;
  flex-basis: fit-content;
}
