input.mat--mdc-input-element, textarea{
  font-weight: lighter;
  line-height: 1.1rem;
  font-size: x-small;
}

.basic-container {
  padding: 0;
}

mat-form-field {
  margin-left: 1%;
  margin-left: 1%;
  width: 49%;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display:flex;
  flex-basis: fit-content;
}

.mat-form-field-full-line {
  width: 99%;
}
