input.mat-input-element, textarea{
  font-weight: lighter;
  line-height: 1.1rem;
}

.basic-container {
  padding: 0px;
}

mat-form-field {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
