
table {
    width: 100%;
}

cell {
    white-space: pre;
}

img {
    width: 20px;
    height: 20px;
    align-content: center;
}


@media (min-width: 769px) {

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: 0;
    }

    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
        padding-right: 0;
    }

    td.mat-column-image {
        width: 7%;
        font-family: monospace;
        line-height: 1.4;
        vertical-align: top;
        padding-top: 0.4rem;
        font-size: small;
        padding-right: 6px;
        padding-left: 6px;
    }

    td.mat-column-name {
        width: 15%;
        font-family: monospace;
        line-height: 1.4;
        vertical-align: top;
        padding-top: 0.4rem;
        font-size: small;
    }

    td.mat-column-block {
        width: 8%;
        font-family: monospace;
        line-height: 1.4;
        vertical-align: top;
        padding-top: 0.4rem;
        font-size: small;
        padding-right: 6px;
        padding-left: 6px;
    }

    td.mat-column-trxHash {
        width: 26%;
        font-family: monospace;
        line-height: 1.4;
        vertical-align: top;
        padding-top: 0.4rem;
        font-size: small;
        padding-right: 6px;
        padding-left: 6px;
    }

    td.mat-column-value {
        width: 45%;
        font-family: monospace;
        line-height: 1.4;
        vertical-align: top;
        padding-top: 0.4rem;
        white-space: pre;
        font-size: small;
        padding-right: 6px;
        padding-left: 6px;
    }

    td.mat-form-field {
        margin-top: 1.0rem;
        margin-left: 1.5rem;
    }

    td.mat-cell, td.mat-header-cell, td.mat-footer-cell {
        min-height: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    td.mat-form-field {
        margin-top: 0;
        margin-left: 0;
    }
}


@media (min-width: 1025px) {

    td.mat-column-image {
        font-size: medium;
    }

    td.mat-column-name {
        font-size: medium;
    }

    td.mat-column-block {
        font-size: medium;
    }

    td.mat-column-trxHash {
        font-size: medium;
    }

    td.mat-column-value {
        font-size: medium;
    }

}

.table-link {
    color: darkblue;
}