<div class="search-div">
    <mat-form-field style="width: 100%;" color='primary'>
        <input  matInput [(ngModel)]="searchKey" placeholder="Filter" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>x</mat-icon>
        </button>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let element"><img [src]="element.image" alt=""/>&nbsp;{{element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="block">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Block</mat-header-cell>
            <mat-cell *matCellDef="let element"><a class="table-link" (click)="openDetailsDialog($event, element.block, '')" href="" rel="nofollow">{{element.block}}</a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="trxHash">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Trx</mat-header-cell>
            <mat-cell *matCellDef="let element"><a class="table-link" (click)="openDetailsDialog($event, '', element.trxHash)" href="" rel="nofollow">{{element.trxHashShort}}</a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="key">
            <mat-header-cell *matHeaderCellDef mat-sort-header>key</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.key}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.value}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100, 500, 1000]" [pageSize]="10" showFirstLastButtons></mat-paginator>

</div>