<mat-toolbar class="header" color="primary">
    <span>Ethereum Event Scan</span>
</mat-toolbar>

<!-- Right side --><a href="https://github.com/MarkusSprunck/ethereum-event-scan" target="_blank">
    <img alt="Fork me on GitHub" src="../assets/github.png" style="position: absolute; top: 0px; right: 0px; border: 0; width: 8rem">
</a>

<!-- Main content -->
<div class="row">
    <div class="col-12">
        <app-settings [abi]="control.abi" [connected]="control.entity.connected" [contract]="control.contract" [endBlock]="control.endBlock"
                      [lastBlock]="control.entity.currentBlock" [provider]="control.provider" [refresh]="control.refresh" [startBlock]="control.startInitial">

        </app-settings>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-events-list></app-events-list>
    </div>
</div>


