<mat-toolbar color="primary" class="header" >
    <span>Ethereum Event Scan</span>
</mat-toolbar>

<!-- Main content -->
<div class="row">
    <div class="col-12">
        <app-settings [abi]="control.abi" [connected]="control.entity.connected" [contract]="control.contract" [endBlock]="control.endBlock"
                      [lastBlock]="control.entity.currentBlock" [provider]="control.provider" [refresh]="control.refresh" [startBlock]="control.startInitial">

        </app-settings>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-events-list></app-events-list>
    </div>
</div>


