.mat-toolbar-row {
    height: 58px;
}

.title {
    margin-left: 0;
}

.title-sub {
    margin-left: auto;
    margin-right: 0;
    font-weight: lighter;
    font-size: small;
}

div {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

