<mat-toolbar class="header" color="primary">
    <mat-toolbar-row>
        <span class="title">Ethereum-Event-Scan</span>
        <span class="title-sub">Available on
            <a href="https://github.com/MarkusSprunck/ethereum-event-scan" target="_blank">GitHub</a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Main content -->
<div class="row">
    <div class="col-12">
        <app-settings [abi]="control.abi" [connected]="control.entity.connected" [contract]="control.contract" [endBlock]="control.endBlock"
                      [lastBlock]="control.entity.currentBlock" [provider]="control.provider" [refresh]="control.refresh" [startBlock]="control.startInitial">

        </app-settings>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-events-list></app-events-list>
    </div>
</div>




