
table {
  width: 100%;
}

cell {
  white-space: nowrap;
}

img {
  width: 20px;
  height: 20px;
  align-content: center;
}

.table-link :hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 768px) {

}

@media (min-width: 768px) {

}


@media (max-width: 768px) {
}
