table {
  width: 100%;
}

.break-word {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

img {
  width: 20px;
  height: 20px;
  align-content: center;
}

.table-link :hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
  td, th {
    font-size: 0.9rem;
  }
}
