.title {
  margin-left: 0;
  color: white;
}

.footer {
  margin-left: auto;
  margin-right: 0;
  font-weight: lighter;
  font-size: smaller;
  color: gray;
  text-align: right;
}

div {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}


div.mat-app-background {
  padding: 0;
  min-height: calc(100vh);
}

