<div class="fixActionRow">
  <h2>Details</h2>

  <app-inner-component [inputData]="data"></app-inner-component>
  <div class="spacer"></div>

  <div>
    <button (click)="onPinStart()" mat-button style="padding: 16px;min-width: 64px;">Set block number
      {{data.blockNumber}} as START
    </button>
  </div>

  <div>
    <button (click)="onPinEnd()" mat-button style="padding: 16px;min-width: 64px;">Set block number {{data.blockNumber}}
      as END
    </button>
  </div>

  <div>
    <button (click)="onPinStartEnd()" mat-button style="padding: 16px;min-width: 64px;">Set block
      number {{data.blockNumber}}
      as START and END
    </button>
  </div>

  <div class="spacer-small"></div>

  <button (click)="onCloseClick()" mat-button cdkFocusInitial style="padding: 16px;min-width: 64px; float: left">Close
  </button>
  <div class="spacer-small"></div>

</div>
