div, .mat-list-base .mat-list-item, .mat-list-item-content, {
  white-space: pre-wrap;
  font-weight: lighter;
  line-height: 1.1rem;
  font-size: small;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 1.1rem;
  padding: 0 0;
}

.mat-list-base {
  padding-top: 8px;
}

a {
  white-space: pre-wrap;
  font-weight: lighter;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}
