.mat-mdc-dialog-content {
  padding: 20px;
}

.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.spacer {
  flex-grow: 0.9;
}

div, .mat-mdc-list-base .mat-mdc-list-item, .mat-mdc-list-item-content {
  font-weight: lighter;
  line-height: 1.0rem;
  font-size: small;
}


