<div class="fixActionRow">

    <div class="modal-header-row">
        <div class="modal-title">
            <h2>Details</h2>
        </div>
        <div class="modal-close-btn">
            <button (click)="onCloseClick()" aria-label="Close dialog" cdkFocusInitial
                    class="modal-close" color="primary" mat-flat-button>Close
            </button>
        </div>
    </div>

    <div aria-hidden="true" class="modal-separator" role="separator"></div>

    <app-inner-component [inputData]="data"></app-inner-component>

</div>
