@import "bootstrap-dark.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    font-size: medium;
    font-family: monospace;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5rem;
}

img {
    width: 20px;
    height: 20px;
}

.header_area {
    padding-top: 1.0rem;
}

.hint {
    color: dodgerblue;
}

.ngb-highlight {
    color: lightgreen;
}

td {
    white-space: pre; /* o pre-wrap o pre-line */
}

a {
    text-decoration: underline;
}