@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Lekton';
  src: url('~src/assets/fonts/Lekton-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  color: black;
  font-family: Lekton, monospace !important;
}

a {
  color: blue !important;
}

body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin: 0;
}

@media screen and (max-width: 700px) {
  html, body {
    min-width: 360px;
  }
}

.mat-form-field {
  gap: 30px;
}


