@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'Lekton';
  src: url('/assets/fonts/Lekton-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  color: black;
  font-family: Lekton, monospace !important;
}

a {
  color: blue !important;
}

body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin: 0;
}

.mat-mdc-form-field {
  gap: 15px;
  font-size: inherit;
}

// for modal dialog
@media (max-width: 768px) {

  .cdk-dialog-container {
    min-width: 8rem !important;
  }

  .mat-mdc-dialog-container {
    position: fixed !important;
  }

  .mat-mdc-form-field {
    font-size: small;
  }

}
