@import "bootstrap-dark.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

img {
    width: 20px;
    height: 20px;
}

.header_area {
    padding-top: 1.0rem;
}

.hint {
    color: dodgerblue;
}

.mat-form-field {
    line-height: 1.5rem;
}