.form-control.ng-invalid {
    background-color: lightcoral;
}

.form-control.ng-valid {
    border-color: -moz-mac-accentdarkshadow;
}

.form-control:disabled, .form-control[readonly] {
    border-color: #ccc;
}

.mat-checkbox {
    font-family: monospace;
}

.progress-bar {
    margin-top: 0.5rem;
    border-radius: 0.2em;
    height: 0.4em;
}
