<form [formGroup]="form">

    <mat-accordion>

        <mat-expansion-panel [expanded]="panelOpenState">

            <mat-expansion-panel-header>
                <mat-panel-title><span [innerText]="panelMessage()"></span></mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field style="width: 100%;">
                <input (change)="updateStartValue()" formControlName="startBlock" id="startBlock" matInput placeholder="Start" type="text" [value]="startBlock">
                <button mat-button *ngIf="startBlock" matSuffix mat-icon-button aria-label="Clear" (click)="startBlock='0'">
                    <mat-icon>x</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field style="width: 100%;">
                <input (change)="updateEndValue()" formControlName="endBlock" id="endBlock" matInput placeholder="End" type="text" [value]="endBlock">
                <button mat-button *ngIf="endBlock" matSuffix mat-icon-button aria-label="Clear" (click)="endBlock='latest'">
                    <mat-icon>x</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field style="width: 100%;">
                <input (change)="updateProviderValue()" formControlName="provider" id="provider" matInput placeholder="Provider" type="text" [value]="provider">
                <button mat-button *ngIf="provider" matSuffix mat-icon-button aria-label="Clear" (click)="provider='http://127.0.0.1:8545'">
                    <mat-icon>x</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field style="width: 100%;">
                <input (change)="updateContractValue()" formControlName="contract" id="contract" matInput placeholder="Contract" type="text" [value]="contract">
                <button mat-button *ngIf="contract" matSuffix mat-icon-button aria-label="Clear" (click)="contract=''">
                    <mat-icon>x</mat-icon>
                </button>
            </mat-form-field>


            <mat-form-field style="width: 100%;">
                <textarea jsonFormatter (change)="updateABIValue()" formControlName="abi" id="abi" matInput placeholder="Abi" type="text" [value]="abi" cdkTextareaAutosize
                          cdkAutosizeMinRows="1" [cdkAutosizeMaxRows]="noOfRowsAbi" (blur)="onBlurAbi()" spellcheck="false" (focus)="onFocusAbi()"></textarea>
                <button mat-button *ngIf="abi" matSuffix mat-icon-button aria-label="Clear" (click)="abi=''">
                    <mat-icon>x</mat-icon>
                </button>
            </mat-form-field>

            <div style="width: 100%;">
                <mat-checkbox  layout-align="end" (click)="updateRefreshValue()" [(ngModel)]="refresh" [color]="'primary'" formControlName="refresh" id="refresh">Update</mat-checkbox>
            </div>

        </mat-expansion-panel>

    </mat-accordion>

</form>



